In [1]:
import pandas as pd
df=pd.read_table('datasets/SMSSpamCollection',sep='\t',header=None,names=['label','sms_message'])
df.head()

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

  label                                        sms_message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
df['label']=df.label.map({'ham':0,'spam':1})
print(df.shape)
df.head()

(5572, 2)

   label                                        sms_message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [13]:
from sklearn.feature_extraction.text import  TfidfVectorizer# term frequency and inverse document frequency
tfid_vector= TfidfVectorizer()
documents = ['Hello, how are you!',
             'Win money, win from home.',
             'Call me now.',
             'Hello, Call hello you tomorrow?']

In [14]:
tfid_vector.fit(documents)
tfid_vector.get_feature_names()

['are',
 'call',
 'from',
 'hello',
 'home',
 'how',
 'me',
 'money',
 'now',
 'tomorrow',
 'win',
 'you']

In [15]:
doc_array=tfid_vector.transform(documents).toarray()
doc_array

array([[0.55528266, 0.        , 0.        , 0.43779123, 0.        ,
        0.55528266, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.43779123],
       [0.        , 0.        , 0.37796447, 0.        , 0.37796447,
        0.        , 0.        , 0.37796447, 0.        , 0.        ,
        0.75592895, 0.        ],
       [0.        , 0.48693426, 0.        , 0.        , 0.        ,
        0.        , 0.61761437, 0.        , 0.61761437, 0.        ,
        0.        , 0.        ],
       [0.        , 0.362529  , 0.        , 0.725058  , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.45982207,
        0.        , 0.362529  ]])

In [16]:
frequency_matrix=pd.DataFrame(doc_array,columns=tfid_vector.get_feature_names())
frequency_matrix

,are,call,from,hello,home,how,me,money,now,tomorrow,win,you
0,0.555283,0.000000,0.000000,0.437791,0.000000,0.555283,0.000000,0.000000,0.000000,0.000000,0.000000,0.437791
1,0.000000,0.000000,0.377964,0.000000,0.377964,0.000000,0.000000,0.377964,0.000000,0.000000,0.755929,0.000000
2,0.000000,0.486934,0.000000,0.000000,0.000000,0.000000,0.617614,0.000000,0.617614,0.000000,0.000000,0.000000
3,0.000000,0.362529,0.000000,0.725058,0.000000,0.000000,0.000000,0.000000,0.000000,0.459822,0.000000,0.362529

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df['sms_message'],df['label'],random_state=1)

In [18]:
tfid_vector=TfidfVectorizer()
traning_data= tfid_vector.fit_transform(X_train)
testing_data=tfid_vector.transform(X_test)

In [19]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes=MultinomialNB()
naive_bayes.fit(traning_data,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [20]:
predictions = naive_bayes.predict(testing_data)

In [21]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.964824120603015
Precision score:  1.0
Recall score:  0.7351351351351352
F1 score:  0.8473520249221184